.card {
    margin-bottom: 20px;
}

.card img {
    object-fit: cover;
    height: 200px;
}

.navbar-nav .nav-link {
    margin-right: 10px;
}

.navbar-nav .btn {
    margin-right: 10px;
}

.navbar-nav .btn:last-child {
    margin-right: 0;
}
/* Estilos personalizados para el fondo oscuro y texto blanco */
body {
    background-color: #343a40; /* Color de fondo oscuro */
    color: #ffffff; /* Color de texto blanco */
}
.card {
    background-color: #495057; /* Fondo oscuro para las tarjetas */
    border-color: #6c757d; /* Color del borde de las tarjetas */
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; /* Color de texto de los enlaces del navbar */
}
.btn-primary {
    background-color: #007bff; /* Color de fondo de los botones primarios */
    border-color: #007bff; /* Color del borde de los botones primarios */
}
.btn-success {
    background-color: #28a745; /* Color de fondo de los botones de éxito */
    border-color: #28a745; /* Color del borde de los botones de éxito */
}
.btn-light {
    background-color: #f8f9fa; /* Color de fondo de los botones ligeros */
    color: #343a40; /* Color de texto de los botones ligeros */
    border-color: #f8f9fa; /* Color del borde de los botones ligeros */
}
.navbar-dark .navbar-toggler-icon {
    background-color: #ffffff; /* Color del icono del toggler */
}
/* Opcional: cambiar el color del botón de subir */
#scroll-to-top {
    background-color: #007bff; /* Color de fondo del botón de subir */
    color: #ffffff; /* Color del icono del botón de subir */
}